:root {
	--main: #3C8A99;
	--contrast: #843DA8;
	--althighlight: #B8523D;
	--highlight: #6CC540;
}

.threadbox {
	width:75%;
	height:220px;
	border:4px solid var(--contrast);
	border-radius: 25px;
	background-color: var(--main);
	margin: auto;
	margin-bottom: 1%;
}

.prevnextbox {
	width:85%;
	height:20px;
	margin: auto;
	margin-bottom: 1%;
	justify-content: center;
}

.topnav {
  position:fixed;
  overflow: hidden;
  background-color: var(--main);
  top: 0;
  width: 100%;
  margin-bottom: 2%;
}

.topnav a {
  float: right;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--highlight);
  color: black;
}

.topnav a:link {
  color: white;
}

.topnav a:visited {
  color: white;
}

.topnav a.active {
  background-color: var(--contrast);
  color: white;
}

#logo {
	z-index: 1;
	position:fixed;
	top: .25%;
	left: .5%;
}

.column {
  float: left;
}

.bottomcolumn {
  float: right;
}

.left {
  width: 10%;
  margin-left: 1%;
}

.right {
  width: 20%;
}

.middle {
  width: 68%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.middle a:link{
	text-decoration: none;
	color:black;
}

.littleleft {
  width: 10%;
  margin-left: 1%;
}

.littleright {
  width: 10%;
}

.littlerightcomment {
  margin-left: 1%;
  width: 10%;
}

.littlemiddle {
  margin-left: 1%;
  width: 10%;
}

.littlemiddleadmin {
  width: 10%;
}

.littlemiddle a:link{
	text-decoration: none;
	color:black;
}

.bottomleft {
	width:30%;
}

.bottomright {
	width:30%;
}

.bottomrightalone {
	float:right;
	width:50%;
}